<div class="row">
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <a routerLink="/maps/kafe">
        <div class="card-header">
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li><i class="ik ik-chevron-left action-toggle"></i></li>
              <li><i class="ik ik-minus minimize-card"></i></li>
              <li><i class="ik ik-x close-card"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-body timeline">
          <div class="header bg-theme" style="background-image: url('../../maps/kafe/kafe.jpg')">
            <div class="color-overlay d-flex align-items-center">
              <div class="day-number">1</div>
              <div class="date-right">
                <div class="day-name">Kafe</div>
                <div class="month">Dostoyevsky</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>

  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-header-right">
          <ul class="list-unstyled card-option">
            <li><i class="ik ik-chevron-left action-toggle"></i></li>
            <li><i class="ik ik-minus minimize-card"></i></li>
            <li><i class="ik ik-x close-card"></i></li>
          </ul>
        </div>
      </div>
      <div class="card-body timeline">
        <div class="header bg-theme" style="background-image: url('../../maps/oregon/oregon.jpg')">
          <div class="color-overlay d-flex align-items-center">
            <div class="day-number">2</div>
            <div class="date-right">
              <div class="day-name">Oregon</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-header-right">
          <ul class="list-unstyled card-option">
            <li><i class="ik ik-chevron-left action-toggle"></i></li>
            <li><i class="ik ik-minus minimize-card"></i></li>
            <li><i class="ik ik-x close-card"></i></li>
          </ul>
        </div>
      </div>
      <div class="card-body timeline">
        <div class="header bg-theme" style="background-image: url('../../maps/consulate/consulate.png')">
          <div class="color-overlay d-flex align-items-center">
            <div class="day-number">3</div>
            <div class="date-right">
              <div class="day-name">Consulate</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-header-right">
          <ul class="list-unstyled card-option">
            <li><i class="ik ik-chevron-left action-toggle"></i></li>
            <li><i class="ik ik-minus minimize-card"></i></li>
            <li><i class="ik ik-x close-card"></i></li>
          </ul>
        </div>
      </div>
      <div class="card-body timeline">
        <div class="header bg-theme" style="background-image: url('../../maps/theme_park/theme_park.png')">
          <div class="color-overlay d-flex align-items-center">
            <div class="day-number">3</div>
            <div class="date-right">
              <div class="day-name">Theme</div>
              <div class="month">Park</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>