<div class="row clearfix" *ngIf="!isLoading">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="widget">
            <div class="widget-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="state">
                        <h6>Map</h6>
                        <h2>Kafe</h2>
                    </div>
                    <div class="icon">
                        <i class="ik ik-award"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="widget">
            <div class="widget-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="state">
                        <h6>Locations</h6>
                        <h2>{{this.pos+1}} of {{this.locations.length}}</h2>
                    </div>
                </div>
            </div>
            <div class="progress progress-sm">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="78" aria-valuemin="0"
                    aria-valuemax="100" [style.width]="percentageRemaining()"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="widget">
            <div class="widget-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="state">
                        <h6>Correct</h6>
                        <h2>{{correctAnswers()}}</h2>
                    </div>
                    <div class="icon">
                        <i class="ik ik-thumbs-up"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="widget">
            <div class="widget-body feeds-widget">
                <div class="feed-item">
                    <div class="feeds-body">
                        <h4 class="title text-primary">Quiz type</h4>
                    </div>
                </div>
                <div class="feed-item">
                    <div class="feeds-body">
                        <div class="form-group">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="questionType" [checked]="map.qType===1" [value]="qType" (change)="onQuestionTypeChange(1)">
                                <span class="custom-control-label">&nbsp;Proceed when you've selected the correct answer
                                                                    </span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="questionType" [checked]="map.qType===2" [value]="qType" (change)="onQuestionTypeChange(2)" >
                                <span class="custom-control-label">&nbsp;
                                Wait until the end to show the results
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="!isLoading&&state==1">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <img src='/maps/kafe/kafe{{current.image}}_h.png' class="img-fluid rounded" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="min-height: 400px;">
            <div class="card-header">
                <h3>Site:</h3>
            </div>
            <div class="card-body">


                <div class="form-group" *ngFor="let p of current.possible">
                    <div [ngClass]="{'alert alert-danger': showCorrect(p)}">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input"
                                [checked]="current.response!==''&&current.response===p.description" [value]="current.response"
                                (change)="onAnswer(p)" name="answers">
                            <span class="custom-control-label">&nbsp;{{p.description}}</span>
                        </label>
                    </div>
                </div>
                <button class="btn btn-light mr-2" (click)="prev()" [disabled]="this.pos===0">&lt;--</button>
                <button class="btn btn-primary mr-2" (click)="next()"
                    [disabled]="!(this.pos>=(this.locations.length-1))">--&gt;</button>
            </div>
            {{current| json}}
        </div>
    </div>
</div>
<div class="row" *ngIf="showLargeImg==-1&&!isLoading&&state==2">
    <div class="col-md-4" *ngFor="let l of locations">
        <div class="card">
            <div class="card-body feeds-widget"  (click)="toggleShowLarge(l)">
                <img src='/maps/kafe/kafe{{l.image}}.png' class="img-fluid rounded" />
                <div class="feed-item">
                    <a>
                        <div class="feeds-left"><i class="ik ik-check-circle text-danger"
                                [hidden]="!l.correct"></i>
                            <i class="ik ik-alert-circle text-warning"
                            [hidden]="l.correct"></i>

                        </div>
                        <div class="feeds-body">
                            <h4 class="title text-danger">Correct: {{l.location[0].description}}</h4>
                            <small [hidden]="l.correct">Your answer: {{l.response}}</small>
                            {{l| json}}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="showLargeImg>-1&&!isLoading&&state==2">
    <div class="col-md-12" (click)="toggleShowLarge()">
        <div class="card">
            <div class="card-header">
                {{showLargeHeader}}
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <img src='/maps/kafe/kafe{{showLargeImg}}.png' class="img-fluid rounded" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{locations[showLargeImg] | json}}
</div>
<div class="row" *ngIf="!isLoading&&state==2">
    <button class="btn btn-block btn-secondary" (click)="reset()">Try again</button>
</div>
